---
layout: base.njk
title: Photos
description: Some photos I've taken
permalink: /photos/
---

<h1 class="name-heading">Photos
  <span class="photos_sea_shell_icon">
  <img src="/sea-shell.svg" class="name-icon name-icon--photos" alt="Sea shell icon from Mexico City">
    <span class="photos_sea_shell_text">This stamp comes from Mexico City, it depicts a sea shell.</span>
  </span>
</h1>

<ol class="post-list" reversed>
  {% for photo in collections.photos %}
    {% if photo.url %}
      <li>
        <a href="{{ photo.url }}">{{ photo.data.title }}</a>
        <span class="date">{{ photo.date | dateFormat }}</span>
      </li>
    {% endif %}
  {% endfor %}
</ol>